<mat-toolbar class="app-toolbar">
  <div class="toolbar">
    <div class="title">
      <img src="assets/images/header/fcdallas.png" alt="FC Dallas" class="header-logo" />
      <div class="heading">Menu</div>
      <mat-icon class="sidenav-dropdown" *ngIf="!sidenavOpen" (click)="toogleSidenav()"> expand_more </mat-icon>
      <mat-icon class="sidenav-dropdown" *ngIf="sidenavOpen" (click)="toogleSidenav()"> expand_less </mat-icon>
      <input mat-input type="text" class="search" placeholder="Search" />
      <img class="search-icon" src="assets/images/header/search.svg" />
    </div>

    <div class="toolbar-action-container">
      <mat-select class="dropdown-menu paddedSelect" (selectionChange)="setRole($event)" [value]="getRoleData()">
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="coach">Coach</mat-option>
      </mat-select>
      <img class="actions" src="assets/images/header/settings.svg" />
      <div class="line"></div>
      <img class="actions" src="assets/images/header/notification.svg" />
      <div class="profile-name">Hi Donnie Nelson,</div>
      <img class="user-image" src="assets/images/header/profile.png" />
      <mat-icon class="dropdown" [matMenuTriggerFor]="menu">expand_more</mat-icon>

      <!-- Mat Menu-->
      <mat-menu #menu="matMenu" hasBackdrop="true">
        <button class="mat-menu-option" mat-menu-item>
          <mat-icon>person_pin</mat-icon>
          <span>Profile</span>
        </button>
        <button class="mat-menu-option" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<div class="sidenav-bar p-t" *ngIf="sidenavOpen">
  <div class="side-cont">
    <div *ngFor="let sidenavItem of sidenavItems">
      <div [ngClass]="[router.url.includes(sidenavItem.route) ? 'activeitem' : 'item']">
        <span style="cursor: pointer" (click)="changePage(sidenavItem.route)">
          {{ sidenavItem.name }}
        </span>
        <mat-icon
          *ngIf="sidenavItem.hasChildren && !childOpen[sidenavItem.childName]"
          (click)="childopen(sidenavItem.childName)"
          class="sidenav-child-dropdown"
        >
          expand_less
        </mat-icon>
        <mat-icon
          *ngIf="sidenavItem.hasChildren && childOpen[sidenavItem.childName]"
          (click)="childopen(sidenavItem.childName)"
          class="sidenav-child-dropdown"
        >
          expand_more
        </mat-icon>
      </div>

      <div *ngIf="sidenavItem.hasChildren && childOpen[sidenavItem.childName]">
        <div
          *ngFor="let child of sidenavItem.children"
          [ngClass]="[sidenavItem.name == router.url ? 'activeitemchild' : 'itemchild']"
          (click)="changePage(child.route)"
        >
          {{ child.name }}
        </div>
      </div>
    </div>
  </div>

  <img class="powered-by" src="assets/images/header/mavq.svg" />
</div>
