<div class="container-p">
  <div class="bread-path">
    <a class="link" (click)="goToPage('roaster')"> Roaster Builder</a>
    <mat-icon>arrow_forward</mat-icon>
    Player Details
  </div>
  <div class="row">
    <div class="col-md-3 p-l-0">
      <div class="card-container">
        <div class="row">
          <img class="user-image" src="assets/images/header/profile.png" />
          <div class="playername">
            <div class="first-name">Jonathan</div>
            <div class="last-name">Kaminga</div>
          </div>
        </div>
        <div class="hline"></div>
        <div class="row">
          <div class="headkey">Experience</div>
          <div class="headvalue">3 years</div>
        </div>
        <div class="row">
          <div class="headkey">Position</div>
          <div class="headvalue">G/F</div>
        </div>
        <div class="row">
          <div class="headkey">Height</div>
          <div class="headvalue">6`8</div>
        </div>
        <div class="row">
          <div class="headkey">Weight</div>
          <div class="headvalue">205lbs</div>
        </div>
        <div class="row">
          <div class="headkey">Birth Date</div>
          <div class="headvalue">10/06/2002</div>
        </div>
        <div class="row">
          <div class="headkey">College</div>
          <div class="headvalue">G League</div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-container">
        <mat-tab-group class="pill-tab">
          <mat-tab class="pill-mat-tab" label="Overview">
            <div class="row">
              <div class="col-md-8 p-a-0">
                <div class="season-performace">
                  <!-- <div class="row">
                    <mat-select class="fieldbox fieldvalue m-t m-b m-r col-md-3" value="day">
                      <mat-option value="day"> Per game </mat-option>
                      <mat-option value="week"> Game log </mat-option>
                      <mat-option value="month"> Similarity score </mat-option>
                    </mat-select>
                  </div> -->
                  <div class="button-group">
                    <button mat-button (click)="tabselect('pergame')" class="tab-button-b1"
                    [ngClass]="[ tabvalue=='pergame' ? 'active-tab' : '']">
                      Per Game
                    </button>
                    <button mat-button (click)="tabselect('gamelog')" class="tab-button-b2"
                    [ngClass]="[ tabvalue=='gamelog' ? 'active-tab' : '']">
                      Game Log
                    </button>
                    <button mat-button (click)="tabselect('similarityscore')" class="tab-button-b3"
                    [ngClass]="[ tabvalue=='similarityscore' ? 'active-tab' : '']">
                      Similarity score
                    </button>
                  </div>
                  <table *ngIf="tabvalue=='pergame'" mat-table class="tableclass" [dataSource]="seasonData">
                    <ng-container matColumnDef="season">
                      <th mat-header-cell *matHeaderCellDef class="table-head">Season</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.season }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="age">
                      <th mat-header-cell *matHeaderCellDef class="table-head">Age</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.age }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="gp">
                      <th mat-header-cell *matHeaderCellDef class="table-head">GP</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.gp }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="mp">
                      <th mat-header-cell *matHeaderCellDef class="table-head">MP</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.mp }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fg">
                      <th mat-header-cell *matHeaderCellDef class="table-head">FG%</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.fg }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="pt3">
                      <th mat-header-cell *matHeaderCellDef class="table-head">3pt%</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.pt3 }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="ft">
                      <th mat-header-cell *matHeaderCellDef class="table-head">FT%</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.ft }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="reb">
                      <th mat-header-cell *matHeaderCellDef class="table-head">REB</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.reb }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="ast">
                      <th mat-header-cell *matHeaderCellDef class="table-head">AST</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.ast }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="stl">
                      <th mat-header-cell *matHeaderCellDef class="table-head">STL</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.stl }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="blk">
                      <th mat-header-cell *matHeaderCellDef class="table-head">BLK</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.blk }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="tov">
                      <th mat-header-cell *matHeaderCellDef class="table-head">TOV</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.tov }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="pf">
                      <th mat-header-cell *matHeaderCellDef class="table-head">PF</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.pf }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="pts">
                      <th mat-header-cell *matHeaderCellDef class="table-head">Pts</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.pts }}
                      </td>
                    </ng-container>
                    <tr mat-header-row class="table-header" *matHeaderRowDef="seasonColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: seasonColumns"></tr>
                  </table>
                  <div *ngIf="tabvalue=='gamelog'">
                    Game Log
                  </div>
                  <div *ngIf="tabvalue=='similarityscore'">
                    Game Log
                  </div>
                </div>
                <div class="recent-performace">
                  <div class="heading">Recent Performances</div>
                  <table mat-table class="tableclass table-season m-t" [dataSource]="recentData" matSort>
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef class="table-head">Date</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.date }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="opp">
                      <th mat-header-cell *matHeaderCellDef class="table-head">Opp</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.opp }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="gr">
                      <th mat-header-cell *matHeaderCellDef class="table-head">GR</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.gr }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="mp">
                      <th mat-header-cell *matHeaderCellDef class="table-head">MP</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.mp }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fg">
                      <th mat-header-cell *matHeaderCellDef class="table-head">FG%</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.fg }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="pt3">
                      <th mat-header-cell *matHeaderCellDef class="table-head">3pt%</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.pt3 }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="ft">
                      <th mat-header-cell *matHeaderCellDef class="table-head">FT%</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.ft }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="reb">
                      <th mat-header-cell *matHeaderCellDef class="table-head">REB</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.reb }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="ast">
                      <th mat-header-cell *matHeaderCellDef class="table-head">AST</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.ast }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="stl">
                      <th mat-header-cell *matHeaderCellDef class="table-head">STL</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.stl }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="blk">
                      <th mat-header-cell *matHeaderCellDef class="table-head">BLK</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.blk }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="tov">
                      <th mat-header-cell *matHeaderCellDef class="table-head">TOV</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.tov }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="pf">
                      <th mat-header-cell *matHeaderCellDef class="table-head">PF</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.pf }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="pts">
                      <th mat-header-cell *matHeaderCellDef class="table-head">Pts</th>
                      <td mat-cell class="tablecontent" *matCellDef="let element">
                        {{ element.pts }}
                      </td>
                    </ng-container>
                    <tr mat-header-row class="table-header" *matHeaderRowDef="recentColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: recentColumns"></tr>
                  </table>
                </div>
              </div>
              <div class="col-md-4">
                <div class="graph-container">
                  <div class="heading">Winning Index measures player / role fit</div>
                  <canvas
                    #myChart
                    id="myChart"
                    baseChart
                    width="90%"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [plugins]="lineChartPlugins"
                  >
                  </canvas>
                </div>
                <div class="graph-container">
                  <div class="heading">WAR Index</div>
                  <canvas
                    baseChart
                    width="90%"
                    height="70"
                    [datasets]="radarChartData"
                    [options]="radarChartOptions"
                    [labels]="radarChartLabels"
                    [chartType]="radarChartType"
                    [legend]="radarChartLegend"
                    [colors]="radarChartColors"
                  >
                  </canvas>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab class="pill-mat-tab" label="Practice">
            <div class="row">
              <div class="col-md-3 practice">
                <div class="head-text">Upcoming Practices</div>
                <div *ngFor="let practice of practices">
                  <div class="practice-date">Dec 24</div>
                  <div class="practice-text">Practice Name</div>
                  <div class="practice-text">Practice Duration</div>
                  <div class="practice-tag">Tag</div>
                  <div class="hline"></div>
                </div>
              </div>
              <div class="col-md-9 p-t-md">
                <div class="row calendar">
                  <div
                    class="navigate-calendar"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    <mat-icon class="icon">navigate_before</mat-icon>
                  </div>

                  <div class="head">{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</div>

                  <div
                    class="navigate-calendar"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()"
                  >
                    <mat-icon class="icon">navigate_next</mat-icon>
                  </div>

                  <mat-select
                    class="fieldbox fieldvalue col-md-3"
                    (selectionChange)="setView($event)"
                    [(ngModel)]="selectedView"
                  >
                    <mat-option value="day"> Day </mat-option>
                    <mat-option value="week"> Week </mat-option>
                    <mat-option value="month"> Month </mat-option>
                  </mat-select>
                </div>

                <div [ngSwitch]="view" class="p-t-md">
                  <mwl-calendar-month-view
                    *ngSwitchCase="CalendarView.Month"
                    [viewDate]="viewDate"
                    [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventTimesChanged)="eventTimesChanged($event)"
                  >
                  </mwl-calendar-month-view>
                  <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView.Week"
                    [viewDate]="viewDate"
                    [events]="events"
                    (eventTimesChanged)="eventTimesChanged($event)"
                  >
                  </mwl-calendar-week-view>
                  <mwl-calendar-day-view
                    *ngSwitchCase="CalendarView.Day"
                    [viewDate]="viewDate"
                    [events]="events"
                    (eventTimesChanged)="eventTimesChanged($event)"
                  >
                  </mwl-calendar-day-view>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab class="pill-mat-tab" label="Tab 3"> </mat-tab>
          <mat-tab class="pill-mat-tab" label="Tab 4"> </mat-tab>
          <mat-tab class="pill-mat-tab" label="Tab 5"> </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
