.container-p {
  margin: 30px;
  margin-top: 64px;

  .row {
    margin: 0 !important;
  }

  .card-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    min-height: 300px;
    .user-image {
      width: 99px;
      height: 99px;
      margin-top: 10px;
    }

    .hline-s {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      height: 0px;
      border: 1px solid #e6e6e6;
      margin-bottom: 10px;
    }
    .hline {
      height: 0px;
      border: 1px solid #e6e6e6;
      margin-bottom: 10px;
    }

    .playername {
      padding-top: 15px;
      .first-name {
        color: #a9a9a9;
        font-size: 14px;
        font-weight: 300;
      }
      .last-name {
        padding-top: 10px;
        color: #1b1b1b;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .headkey {
      padding-bottom: 5px;
      width: 90px;
      color: #676767;
      font-size: 12px;
      padding-left: 20px;
    }

    .headvalue {
      color: #242424;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .heading-small {
    font-size: 14px;
    font-weight: 500;
    padding-top: 10px;
    color: #242424;
    font: normal normal bold 14px/18px Montserrat;
    color: #4a4a4a;
  }

  .tableclass {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    .table-season {
      background: #fdfdfd 0% 0% no-repeat padding-box;
      border-radius: 4px;
    }
    .table-header {
      background: #eceef2 0% 0% no-repeat padding-box;
      border-radius: 5px 5px 0px 0px;
    }
    .firstColumn {
      background-color: #ffffff;
      border: none;
      box-shadow: 0px 20px 45px #00000011;
      border: 1px solid #e6e6e6;
      color: #161616;
      text-align: center !important;
      font-weight: 600;
      font-size: 12px;
    }
    .table-head {
      color: #393939;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
      color: #161616;
    }

    .tablecontent {
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      padding: 5px;
      font-weight: 500;
      font-size: 11px;
      color: #414141;
    }
  }

  .graph-container {
    background: #376dc8 0% 0% no-repeat padding-box;
    border-radius: 6px;
    height: 300px;
    margin-bottom: 15px;
    .heading {
      font-size: 13px;
      padding-bottom: 10px;
      font-weight: 600;
      padding-top: 25px;
      padding-left: 30px;
      padding-bottom: 25px;
      color: #cce8ff;
    }

    .graph {
      margin-left: 20px;
      width: 80%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.head {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.practice {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  padding-left: 10px;
  .head-text {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .practice-date {
    padding-top: 10x;
    padding-bottom: 10px;
    font-size: 12px;
    color: #272727;
    font-weight: 600;
  }

  .practice-text {
    font-size: 10px;
    color: #676767;
    font-weight: 500;
  }

  .practice-tag {
    background: #e6eafc 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font-size: 12px;
    color: #676767;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.icon {
  color: white;
  font-size: 32px;
}

.back-cont {
  background: #fdfdfd 0% 0% no-repeat padding-box;
}

.analysis-container {
  background: #fdfdfd 0% 0% no-repeat padding-box;
  margin-top: 0px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  .head-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
  }
  .drill-cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 80px #00000011;
    border-radius: 5px;

    .drill-head {
      padding-left: 10px;
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #161616;
    }
    .rank {
      padding-top: 15px;
      padding-bottom: 10px;
      margin-left: auto;
      padding-right: 10px;
      font-weight: 600;
      font-size: 11px;
      span {
        font-weight: 400;
      }
    }
  }

  .button-group {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 35px;
    .normal-button {
      margin-bottom: 15px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 4px;
      color: #323336;
      font-family: 'Montserrat';
      font-size: 15px;
      font-weight: 400;
      padding: 0px 10px !important;
      height: 35px;
    }

    .active-button {
      margin-bottom: 15px;
      background: #376dc8 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 4px;
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 15px;
      font-weight: 600;
      padding: 0px 10px !important;
      height: 35px;
    }
  }

  .data-form-field {
    margin-top: -10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 200px;
    margin-left: auto;
    padding-bottom: 0px;
    font-size: 12px;
  }
}

.analysis-container ::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  padding-right: 0px;
  padding-left: 0px;
}

::ng-deep.mat-tab-labels {
  background: white;
}

::ng-deep.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.1) !important;
}

.mat-tab-label {
  background: white;
  width: 100px !important;
  padding: 3px !important;
  font-size: 14px;
  font-weight: 500;
  color: #686868;
  letter-spacing: 0px;
  font-weight: 800;
  opacity: 1;
}

// ::ng-deep.mat-tab-label:nth-child(3){
//   margin-left: 100px;
// }

// ::ng-deep.mat-tab-label:nth-child(6){
//   margin-left: 50px;
// }

::ng-deep.mat-form-field {
  font: normal normal 14px/18px Montserrat;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 4px;
}
::ng-deep.mat-form-field-flex {
  background-color: #ffffff;
  padding: 0;
}
::ng-deep.mat-form-field-infix {
  padding: 0.25em;
}
::ng-deep.mat-form-field-underline {
  display: none;
}
::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
