.container-p {
  margin: 30px;
  margin-top: 64px;
  padding-bottom: 30px;

  .head {
    font-size: 14px;
    font-weight: 500;
    color: #242424;
    margin-bottom: 10px;
  }

  .cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding-top: 10px;
    .team-name {
      font-size: 14px;
      font-weight: 500;
      color: #242424;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
    .vline {
      border: 1px solid #e6e6e6;
      width: 0px;
      position: absolute;
      width: 0px;
      right: 0px;
      margin-left: auto;
    }
    .sub-head {
      font-size: 14px;
      font-weight: 400;
      color: #686868;
      margin-top: 10px;
      margin-bottom: 15px;
      text-align: center;
    }
    .headkey {
      padding-bottom: 10px;
      width: 110px;
      color: #676767;
      font-size: 12px;
      margin-left: 20px;
    }

    .headvalue {
      color: #242424;
      font-size: 13px;
      font-weight: 500;
    }

    .input-r {
      margin-left: auto;
      margin-right: 15px;
      margin-top: 10px;
      width: 120px;
      height: 15px;
      font-family: 'Montserrat' !important;
      font-size: 11px;
      padding-left: 10px;
      border: 1px solid rgb(221, 219, 218);
      border-radius: 1px;
    }

    .leg-value {
      padding-top: 10px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    .leg-name {
      padding-top: 5px;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      color: #676767;
    }

    .card {
      margin-left: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #d3d3d3;
      border-radius: 8px;
      padding: 20px;

      .card-head {
        font-family: 'Montserrat' !important;
        font-size: 12px;
        color: #252e48;
        text-align: left;
        font-weight: 600;
        padding-bottom: 5px;
      }

      .card-value {
        font-family: 'Montserrat' !important;
        font-size: 18px;
        color: #376dc8;
        text-align: left;
        font-weight: 600;
      }
    }
  }

  .team-image {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    height: 28px;
    margin-bottom: 10px;
    display: flex;
  }

  .cont-back {
    min-height: 100px;
    margin-bottom: 40px;
    .vline {
      border: 1px solid #e6e6e6;
      width: 0px;
      height: 90px;
      margin-top: -80px;
      margin-left: auto;
    }

    .traded-player {
      color: #272727;
      font-size: 12px;
      font-weight: 500;

      .info-icon {
        font-size: 18px;
        color: black;
        fill: white;
      }
    }
  }

  .hline {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    height: 0px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
  }

  .mat-tab-list .mat-tab-labels .mat-tab-label-active ::before {
    content: '';
    position: absolute;
    background-color: blue;
    border-radius: 4px;
    bottom: 0px;
    width: 16px;
    height: 4px;
    background: #376dc8 0% 0% no-repeat padding-box;
  }

  ::ng-deep.mat-tab-labels {
    background-color: #ffffff;
  }

  ::ng-deep.mat-tab-label.mat-tab-label-active {
    opacity: 1;
    background-color: #ffffff;
  }

  ::ng-deep.mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #376dc8;
    font-size: 16px;
    font-weight: 400;
  }

  ::ng-deep.mat-tab-label-content {
    font-size: 16px;
    font-weight: 400;
  }

  ::ng-deep.mat-ink-bar {
    display: none !important;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #3074d5;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: white;
  }

  ::ng-deep .mat-progress-bar {
    border: 1px solid #e5e5e5;
    height: 10px;
  }
}
