<div class="container-p">
  <div class="row">
    <div class="bread-path">
      <a (click)="goToPage('roaster')" class="link">Roaster Builder</a>
      <mat-icon>arrow_forward</mat-icon>
      <a (click)="goToPage('roaster/trade')" class="link">Trade Machine</a>
      <mat-icon>arrow_forward</mat-icon>
      <a (click)="goToPage('roaster/trade/team-selection')" class="link">Select Teams</a>
      <mat-icon>arrow_forward</mat-icon>
      <a (click)="goToPage('roaster/trade/player-selection')" class="link">Select Players</a>
      <mat-icon>arrow_forward</mat-icon>
      Trade Overview
    </div>
  </div>

  <div class="head">Trade Progress</div>

  <div class="row ac">
    <div class="col-md-2 col-xs-6 m-t p-l-0">
      <div class="cont">
        <div class="row">
          <img class="team-image" src="assets/images/teams/{{ trade.mainTeam.logo }}" />
        </div>
        <div class="team-name">{{ trade.mainTeam.name }}</div>
        <div class="hline"></div>
        <div class="row ac">
          <div class="col-md-6">
            <div class="row">
              <img class="team-image" src="assets/images/teams/{{ trade.teamInvolved[0].logo }}" />
              <div class="team-name">{{ trade.teamInvolved[0].name }}</div>
            </div>
          </div>
          <div class="vline" style="height: 30px"></div>
          <div class="col-md-6">
            <div class="row">
              <img class="team-image" src="assets/images/teams/{{ trade.teamInvolved[1].logo }}" />
              <div class="team-name">{{ trade.teamInvolved[1].name }}</div>
            </div>
          </div>
        </div>
        <div class="sub-head">Trade conditions</div>
        <table class="m-r-a m-l-a">
          <div class="row" *ngFor="let condition of trade.conditions">
            <tr>
              <td class="headkey">{{ condition.key }}</td>
              <td class="headvalue">{{ condition.value }}</td>
            </tr>
          </div>
        </table>
      </div>
    </div>

    <div class="col-md-7 col-xs-12 m-t">
      <mat-tab-group class="pill-tab">
        <mat-tab class="pill-mat-tab" label="Overview">
          <div class="cont-back">
            <div class="head p-l p-t">Players involved in Trade</div>
            <div class="row">
              <div class="traded-player m-l" *ngFor="let trade of trades">
                <img class="team-image" src="assets/images/teams/{{ trade.logo }}" />
                <div class="row">
                  <div *ngFor="let player of trade.players">
                    <div style="display: flex">
                      {{ player.name }}
                      <img class="m-l m-r info-icon" alt="info" src="assets/images/icons/info.svg" />
                    </div>
                    <div *ngIf="player.trade == 'out'">
                      <img class="m-l m-r m-t info-icon" alt="info" src="assets/images/icons/tradeout.svg" />
                    </div>
                    <div *ngIf="player.trade == 'in'">
                      <img class="m-l m-r m-t info-icon" alt="info" src="assets/images/icons/tradein.svg" />
                    </div>
                  </div>
                </div>
                <div class="vline"></div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab class="pill-mat-tab" label="Notes"> </mat-tab>
        <mat-tab class="pill-mat-tab" label="Scouting Reports"> </mat-tab>
      </mat-tab-group>

      <div class="cont m-b-md">
        <div class="row">
          <div class="head p-l">Team Impacts</div>
          <div class="expand">
            Expand
            <mat-icon class="icons"> launch </mat-icon>
          </div>
        </div>

        <div class="row">
          <div class="card">
            <div class="card-head">Defense Strength</div>
            <div class="card-value">66%</div>
          </div>

          <div class="card">
            <div class="card-head">Midfield Strength</div>
            <div class="card-value">66%</div>
          </div>

          <div class="card">
            <div class="card-head">Attack strength</div>
            <div class="card-value">46%</div>
          </div>

          <div class="card">
            <div class="card-head">Winning Ability</div>
            <div class="card-value">46%</div>
          </div>
        </div>
      </div>

      <div class="cont">
        <div class="row">
          <div class="head p-l">Projected Growth</div>
          <mat-select class="input-r" value="last_6_season">
            <mat-option value="last_6_season">Last 6 Seasons</mat-option>
          </mat-select>
        </div>
        <app-line-chart
          [lineChartData]="lineChartData"
          [lineChartLabels]="lineChartLabels"
          [lineChartOptions]="lineChartOptions"
          [lineChartColors]="lineChartColors"
          [lineChartLegend]="lineChartLegend"
          [lineChartPlugins]="lineChartPlugins"
          [gradient]="lineGradient"
          height="40"
        >
        </app-line-chart>
      </div>
    </div>

    <div class="col-md-3 col-xs-8 m-t">
      <div class="cont m-b-md">
        <div class="head p-l">Salary Impacts</div>
        <div class="row">
          <div class="col-md-7 col-xs-7">
            <app-donut-chart
              [doughnutChartData]="doughnutChartData"
              [doughnutChartLabels]="doughnutChartLabels"
              [doughnutChartOptions]="doughnutChartOptions"
              [doughnutChartColors]="doughnutChartColors"
              [doughnutChartLegend]="doughnutChartLegend"
              [doughnutChartPlugins]="doughnutChartPlugins"
              height="70"
            ></app-donut-chart>
            <div class="leg-name">Out of Total Budget</div>
          </div>
          <div class="col-md-5 col-xs-5 m-t">
            <div class="leg-value" style="color: #3074d5">$ 4,500,450</div>
            <div class="leg-name">Limit Available</div>
            <div class="leg-value" style="color: #a11300">$ 4,500,450</div>
            <div class="leg-name">Total Incurred</div>
          </div>
        </div>

        <div class="hline"></div>
        <div class="col-xs-12">
          <app-progress-chart [data]="players" size="small"> </app-progress-chart>
        </div>
      </div>

      <div class="cont">
        <div class="head p-l m-b">Positional Improvements</div>
        <app-bar-chart
          [barChartData]="barChartData"
          [barChartLabels]="barChartLabels"
          [barChartOptions]="barChartOptions"
          [barChartColors]="barChartColors"
          [barChartLegend]="barChartLegend"
          [gradient]="barGradient"
          height="60"
        ></app-bar-chart>
      </div>
    </div>
  </div>
</div>
