.container-p {
  margin: 30px;
  margin-top: 64px;

  .row {
    margin: 0 !important;
  }

  .filter {
    margin-top: 8px;
    margin-bottom: 15px !important;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
  }

  .compare {
    margin-top: 8px;
    margin-bottom: 15px !important;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #376dc8;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }

  .search {
    margin-top: 10px;
    height: 28px;
    width: 220px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #ffffff;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: 400px;
  }

  .search-icon-bar {
    margin-top: 10px;
    background: #eaeaea 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
  }
  .search-icon {
    padding: 5px 8px;
    color: #adadad;
  }

  .tableclass {
    width: 100%;
    border-radius: 5px 5px 0px 0px;

    .table-header {
      background: #eceef2 0% 0% no-repeat padding-box;
      border-radius: 5px 5px 0px 0px;
      height: 32px;
    }

    .table-head {
      color: #393939;
      font-size: 13px;
      font-weight: 500;
    }

    .table-filt {
      color: #393939;
      font-weight: 500;
      font-size: 13px;
      padding-top: 10px;
      padding-left: 5px;
    }

    .tablecontent {
      color: #393939;
      font-size: 13px;
      font-weight: 400;
    }

    .mat-row:nth-child(odd) {
      background: #fcfcfc 0% 0% no-repeat padding-box;
    }

    .mat-row:nth-child(even) {
      background: #eceef2 0% 0% no-repeat padding-box;
    }

    .name_link {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-align: left !important;
      color: #0042b1;
    }
  }
}

::ng-deep.mat-menu-option {
  font-family: 'Montserrat';
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
