<div class="container-p">
  <div class="bread-path">
    <a class="link" (click)="goToPage('dashboard')"> Dashboard</a>
    <mat-icon>arrow_forward</mat-icon>
    Total Players
  </div>

  <div class="row">
    <div class="row menu-cont">
      <mat-select class="input-select paddedSelect" [(ngModel)]="selectedOption">
        <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
      </mat-select>
      <img src="assets/images/icons/newmenu.svg" class="icon p-l" />
      <div class="vline"></div>
      <div class="row" *ngFor="let option of options">
        <span class="option-text" [ngClass]="[selectedOption == option ? 'active-option-text' : 'option-text']">
          {{ option }}
        </span>
      </div>
      <button class="add-option cursor-pointer">Add New</button>
    </div>
  </div>

  <div class="row">
    <input mat-input type="text" class="search" placeholder="Search by Player Name" />
    <div class="search-icon-bar">
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <button mat-button class="filter">
      <span class="material-icons">tune</span>
      Filter
    </button>

    <button mat-button class="compare">
      <span class="material-icons">tune</span>
      Comapare
    </button>
  </div>

  <table mat-table class="tableclass" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l p-l">Name</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox style="float: left"></mat-checkbox>
        <a href="" class="name_link t-a-l">{{ element.name }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="teamname">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Team Name</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.teamname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Age</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.age }}
      </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Gender</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.gender }}
      </td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">DOB</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.dob }}
      </td>
    </ng-container>
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Height</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.height }}
      </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Weight</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.weight }}
      </td>
    </ng-container>
    <ng-container matColumnDef="season">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Season</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.season }}
      </td>
    </ng-container>
    <ng-container matColumnDef="gp">
      <th mat-header-cell *matHeaderCellDef class="table-head">
        G.P
        <!-- <mat-icon>tune</mat-icon> -->
      </th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.gp }}
      </td>
    </ng-container>
    <ng-container matColumnDef="mp">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">M.P</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.mp }}
      </td>
    </ng-container>
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="table-head t-a-l">Position</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.position }}
      </td>
    </ng-container>
    <ng-container matColumnDef="workload">
      <th mat-header-cell *matHeaderCellDef class="table-head">Work Load</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.workload }}
      </td>
    </ng-container>
    <ng-container matColumnDef="ppg">
      <th mat-header-cell *matHeaderCellDef class="table-head">Work Load</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.ppg }}
      </td>
    </ng-container>
    <ng-container matColumnDef="seasonpoints">
      <th mat-header-cell *matHeaderCellDef class="table-head">Work Load</th>
      <td mat-cell class="tablecontent t-a-l" *matCellDef="let element">
        {{ element.seasonpoints }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="table-head"></th>
      <td mat-cell class="tablecontent" *matCellDef="let element">
        <span class="material-icons cursor-pointer" [matMenuTriggerFor]="menu">more_vert</span>
        <mat-menu #menu="matMenu" hasBackdrop="true">
          <button class="mat-menu-option" mat-menu-item>Edit</button>
          <button class="mat-menu-option" mat-menu-item>Remove</button>
        </mat-menu>
      </td>
    </ng-container>
    <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
