@import '~@angular/material/theming';
/**
 Setup from Material Theme https://material.angular.io/guide/theming
 **/

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$app-theme: mat-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
      warn: $app-warn,
    ),
  )
);

.pill-tab {
  .mat-tab-list .mat-tab-labels .mat-tab-label-active:before {
    content: '';
    position: absolute;
    /* width: 20px; */
    /* height: 4px; */
    background-color: blue;
    border-radius: 4px;
    bottom: 0px;
    width: 16px;
    height: 4px;
    background: #376dc8 0% 0% no-repeat padding-box;
  }
  .mat-tab-label.mat-tab-label-active {
    opacity: 1;
    background-color: #ffffff;
  }

  .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #376dc8;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
  }

  .mat-tab-label-content {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
  }

  .mat-ink-bar {
    display: none !important;
  }
}
