@import '~@angular/material/theming';

@import 'base/font';
@import 'base/typography';
@import 'themes/theme';

// Import all the components scss files
@import 'components/button';
@import 'components/table';

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/common';

@import 'layout/layout-utils';
@import 'layout/header';

@include mat-core($app-typography);
@include angular-material-theme($app-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  background-color: #F2F4F8;
}
