@import '~@angular/material/theming';

@import 'base/font';
@import 'base/typography';
@import 'themes/theme';
@import 'base/spacing';

// Import all the components scss files
@import 'components/button';
@import 'components/table';

@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/common';

@import 'layout/layout-utils';
@import 'layout/header';

@include mat-core($app-typography);
@include angular-material-theme($app-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat' !important;
  background-color: #f2f4f8;
}

.row {
  margin: 0 !important;
}

.bread-path {
  display: flex;
  padding-top: 20px;
  color: #0053a1;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
  align-items: center;
  mat-icon {
    padding-left: 5px;
    padding-right: 5px;
  }
  .link {
    font-size: 14px;
    color: #0042b1;
    text-decoration: underline;
    cursor: pointer;
  }
}

.expand {
  display: flex;
  cursor: pointer;
  margin-left: auto;
  color: #376dc8;
  font-size: 12px;
  text-decoration: underline;
  .icons {
    font-size: 12px;
  }
}

::ng-deep.mat-menu-option {
  font-family: 'Montserrat';
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.mat-progress-bar-fill::after {
  background-color: #376dc8;
}
