.slider-content {
    width: 290px;

    .range-val {
        text-align: center;
        font-size: 12px;
        color: #376DC8;
    }
}

::ng-deep {
    .ngx-slider {
        margin-left: 10px !important;

        .ngx-slider-bar {
            height: 3px !important;
            background: #3B3E51 !important;
        }

        .ngx-slider-pointer {
            width: 17px !important;
            height: 17px !important;
            top: -6px !important;
            background-color: #fff !important;

            &::after {
                width: 11px !important;
                height: 11px !important;
                top: 3px !important;
                left: 3px !important;
                background: #376DC8 !important;
                border-radius: 5px !important;
            }
        }

        .ngx-slider-selection {
            background-color: #376DC8 !important;
            height: 3px !important;
        }

        .ngx-slider-model-value {
            display: none !important;
        }

        .ngx-slider-model-high {
            display: none !important;
        }

        .ngx-slider-floor, .ngx-slider-ceil {
            font-size: 12px !important;
            color: #3B3E51 !important;

            &::after {
                content: ' Hr';
            }
        }
    }
}