.container-p {
  margin: 30px;
  margin-top: 84px;

  .head {
    font-size: 14px;
    font-weight: 500;
    color: #242424;
    margin-bottom: 5px;
  }

  .normal-button {
    margin-bottom: 15px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #323336;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    padding: 0px 10px !important;
    height: 35px;
  }

  .active-button {
    margin-bottom: 15px;
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    padding: 0px 10px !important;
    height: 35px;
  }

  .button-group {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    height: 35px;
    .normal-button {
      margin-bottom: 15px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 4px;
      color: #323336;
      font-family: 'Montserrat';
      font-size: 15px;
      font-weight: 400;
      padding: 0px 10px !important;
      height: 35px;
    }

    .active-button {
      margin-bottom: 15px;
      background: #376dc8 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 4px;
      color: #ffffff;
      font-family: 'Montserrat';
      font-size: 15px;
      font-weight: 600;
      padding: 0px 10px !important;
      height: 35px;
    }
  }

  .team-drill-content {
    overflow-y: auto;
    min-height: 150px;
    height: 360px;
    margin-top: 10px !important;
    margin-bottom: 10px;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .filter {
    margin-top: 8px;
    margin-bottom: 15px !important;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
  }

  .practice {
    margin-bottom: 15px !important;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #376dc8;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }

  .search {
    margin-top: 10px;
    height: 28px;
    width: 220px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #ffffff;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: 400px;
  }

  .search-icon-bar {
    margin-top: 10px;
    background: #eaeaea 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
  }
  .search-icon {
    padding: 5px 8px;
    color: #adadad;
  }

  .label {
    color: #414141;
    font-size: 13px;
    font-weight: 500;
    margin-top: 15px;
    padding-bottom: 5px;
  }

  .team-select {
    width: 200px;
    height: 30px;
    font-family: 'Montserrat' !important;
    font-size: 13px;
    padding-left: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-top: 5px;
  }

  .tableclass {
    width: 100%;
    max-height: 100%;
    border-radius: 5px 5px 0px 0px;
    overflow-y: auto;

    .table-header {
      background: #eceef2 0% 0% no-repeat padding-box;
      border-radius: 5px 5px 0px 0px;
      height: 32px;
    }

    .table-head {
      color: #393939;
      font-size: 13px;
      font-weight: 500;
    }

    .table-filt {
      color: #393939;
      font-weight: 500;
      font-size: 13px;
      padding-top: 10px;
      padding-left: 5px;
    }

    .tablecontent {
      color: #393939;
      font-size: 18px;
      font-weight: 400;
    }

    .mat-row:nth-child(odd) {
      background: #fcfcfc 0% 0% no-repeat padding-box;
    }

    .mat-row:nth-child(even) {
      background: #eceef2 0% 0% no-repeat padding-box;
    }

    .name_link {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-align: left !important;
      color: #0042b1;
    }
  }

  .card-sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .dash-card {
      min-height: inherit;
      padding: 0px;
      margin-right: 12px;
      margin-bottom: 12px;
      flex: 1 1 30%;

      .pad-btm {
        padding-bottom: 17px;
      }
    }
  }

  .const-dash {
    min-height: 100px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
    padding-top: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    .head {
      margin-left: 10px;
      padding-top: 10px;
      font-size: 13px;
      font-weight: 600;
    }

    .sub-head {
      color: #8d8d8d;
      font-size: 10px;
      font-weight: 400;
      padding-top: 5px;
      margin-left: 10px;
      padding-bottom: 10px;
    }

    .dropdown-menu {
      margin-top: 10px;
      margin-left: 15px;
      width: 100px;
      height: 25px;
      font-family: 'Montserrat' !important;
      font-size: 11px;
      padding-left: 10px;
      border: 1px solid rgb(221, 219, 218);
      border-radius: 1px;
    }

    .legend {
      padding-top: 52px;
      padding-left: 20px;
      .value {
        margin-left: auto;
        margin-right: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #313131;
      }
      .leg {
        margin-top: 3px;
        height: 8px;
        width: 8px;
        margin-right: 5px;
      }

      .legend-label1 {
        background-color: #9cd869;
      }

      .legend-label2 {
        background-color: #376dc8;
      }

      .legend-label3 {
        background-color: #86b3ff;
      }

      .legend-label4 {
        background-color: #f59c42;
      }

      .name {
        font-size: 9px;
        font-weight: 500;
        display: flex;
        color: #8d8d8d;
        margin-bottom: 8px;
      }
    }

    .notfilled {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Montserrat';
      font-size: 10px;
      .name {
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 5px;
        p {
          padding: 0px;
          margin: 0px !important;
          margin-left: 5px !important;
          margin-right: 5px !important;
          color: #376dc8;
          font-weight: 700;
        }
      }
      .sub {
        color: #414141;
        font-size: 8px;
        font-weight: 400;
        padding-bottom: 5px;
      }
      .vline {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-bottom: 10px;
        border: 1px solid #f3f3f3;
        width: 0px;
      }

      .level {
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        margin-right: auto;
      }

      .text {
        font-weight: 500;
        font-size: 10px;
        color: #404040;
        padding-top: 5px;
      }

      .info {
        display: flex;
        font-size: 10px;
        color: #376dc8;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;
        height: 10px;
      }

      .icon {
        font-size: 20px;
        color: #376dc8;
        margin-right: 10px;
      }
    }

    .select-cont {
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      padding-top: 14px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 14px;
      background: #f6f6f6 0% 0% no-repeat padding-box;
      .name {
        color: #161616;
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 5px;
        p {
          padding: 0px;
          margin: 0px !important;
          margin-left: 5px !important;
          margin-right: 5px !important;
          color: #376dc8;
          font-weight: 700;
        }
      }
      .sub {
        color: #414141;
        font-size: 8px;
        font-weight: 400;
        padding-bottom: 5px;
      }
      .vline {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-bottom: 10px;
        border: 1px solid #f3f3f3;
        width: 0px;
      }

      .level {
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        margin-right: auto;
      }

      .text {
        font-weight: 500;
        font-size: 10px;
        color: #404040;
        padding-top: 5px;
      }

      .info {
        display: flex;
        font-size: 10px;
        color: #376dc8;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;
        height: 10px;
      }

      .icon {
        font-size: 20px;
        color: #376dc8;
        margin-right: 10px;
      }

      .w-video {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
        font-size: 10px;
        color: #376dc8;
        padding-top: 5px;
      }
    }
  }
}

::ng-deep.mat-menu-option {
  font-family: 'Montserrat';
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
