.container-p {
  margin: 30px;
  margin-top: 6%;
  padding-bottom: 3%;

  .head {
    font-size: 14px;
    font-weight: 500;
    color: #242424;
    margin-bottom: 10px;
  }

  .pad-right-zero {
    padding-right: 0px;
  }

  .pad-zero {
    padding: 0px;
  }

  .marg-btm {
    margin-bottom: 20px;
  }

  .pad-top-zero {
    padding-top: 0px;
  }

  .text-c {
    text-align: center;
  }

  .disp-flex {
    display: flex;
  }

  .top-layout {
    padding-left: 6px;
    margin-bottom: 10px !important;
  }

  .drill-usg-align {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .button-group {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #323336;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
  }

  .active-button {
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
  }

  .drill-button-group {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e8e8e8;
    color: #323336;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
  }

  .drill-active-button {
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
  }

  .drill-btn-bdr {
    border-top: 1px solid #e8e8e8;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #e8e8e8;
  }

  .drill-last-btn-bdr {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-left: 0px;
  }

  .drill-first-btn-bdr {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 0px;
  }

  .team-drill-content {
    overflow-y: auto;
    height: 315px;
  }

  .content-hght {
    height: 312px;
  }

  .data-sec {
    margin-bottom: 26px !important;
  }

  .drill-usage-sec {
    margin-bottom: 10px !important;
  }

  .menu-cont {
    margin-bottom: 15px !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    width: 90%;
    height: 40px;
    .input-select {
      width: 150px;
      height: 33px;
      font-family: 'Montserrat' !important;
      font-size: 13px;
      padding-left: 10px;
      border: 1px solid rgb(221, 219, 218);
      border-radius: 1px;
      padding-top: 5px;
    }
    .vline {
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #e6e6e6;
    }
    .active-option-text {
      background: #e4ebf7 0% 0% no-repeat padding-box;
      border-radius: 3px;
      font-weight: 600;
      height: 22px;
      margin-top: auto;
      margin-bottom: auto;
    }
    .option-text {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 7px;
      padding-right: 7px;
    }
    .add-option {
      background: #e4ebf7 0% 0% no-repeat padding-box;
      border: 1px dashed #376dc8;
      border-radius: 3px;
      color: #376dc8;
      font-family: 'Montserrat';
      margin: 5px;
      margin-left: 50px;
    }
  }

  .filter {
    margin-top: 8px;
    margin-bottom: 15px !important;
    margin-left: 20px;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
  }

  .practice {
    margin-bottom: 10px !important;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #376dc8;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }

  .search {
    margin-top: 10px;
    height: 28px;
    width: 220px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #ffffff;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: 400px;
  }

  .search-icon-bar {
    margin-top: 10px;
    background: #eaeaea 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
  }
  .search-icon {
    padding: 5px 8px;
    color: #adadad;
  }

  .label {
    color: #414141;
    font-size: 13px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .team-select {
    width: 200px;
    height: 30px;
    font-family: 'Montserrat' !important;
    font-size: 13px;
    padding-left: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-top: 5px;
  }

  .tableclass {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    overflow-y: auto;

    .table-header {
      background: #eceef2 0% 0% no-repeat padding-box;
      border-radius: 5px 5px 0px 0px;
      height: 32px;
    }

    .table-head {
      color: #393939;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
    }

    .tablecontent {
      color: #393939;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
    }

    .mat-row:nth-child(odd) {
      background: #fcfcfc 0% 0% no-repeat padding-box;
    }

    .mat-row:nth-child(even) {
      background: #eceef2 0% 0% no-repeat padding-box;
    }

    .name_link {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-align: left !important;
      color: #0042b1;
    }
  }

  .const-dash {
    min-height: 100px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
    padding-top: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .avg-practice-hrs {
    margin-right: 12px;
    padding-right: 6px;
    padding-left: 12px;

    .line-chart-container {
      padding-top: 24px;
    }
  }

  .card-sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .dash-card {
      min-height: inherit;
      padding: 0px;
      margin-right: 12px;
      margin-bottom: 12px;
      flex: 1 1 30%;

      .pad-btm {
        padding-bottom: 17px;
      }
    }
  }

  .cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    padding-top: 10px;

    .head {
      margin-left: 10px;
      padding-top: 15px;
      font-size: 13px;
      font-weight: 600;
    }

    .sub-head {
      color: #8d8d8d;
      font-size: 10px;
      font-weight: 400;
      padding-top: 5px;
      margin-left: 10px;
      padding-bottom: 10px;
    }

    .dropdown-menu {
      margin-top: 10px;
      margin-left: auto;
      margin-right: 15px;
      width: 100px;
      height: 25px;
      font-family: 'Montserrat' !important;
      font-size: 11px;
      padding-left: 10px;
      border: 1px solid rgb(221, 219, 218);
      border-radius: 1px;
    }

    .legend {
      padding-top: 52px;
      padding-left: 20px;
      .value {
        margin-left: auto;
        margin-right: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #313131;
      }
      .leg {
        margin-top: 3px;
        height: 8px;
        width: 8px;
        margin-right: 5px;
      }

      .legend-label1 {
        background-color: #9cd869;
      }

      .legend-label2 {
        background-color: #376dc8;
      }

      .legend-label3 {
        background-color: #86b3ff;
      }

      .legend-label4 {
        background-color: #f59c42;
      }

      .name {
        font-size: 9px;
        font-weight: 500;
        display: flex;
        color: #8d8d8d;
        margin-bottom: 8px;
      }
    }

    .notfilled {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-family: 'Montserrat';
      font-size: 10px;
      .name {
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 5px;
        p {
          padding: 0px;
          margin: 0px !important;
          margin-left: 5px !important;
          margin-right: 5px !important;
          color: #376dc8;
          font-weight: 700;
        }
      }
      .sub {
        color: #414141;
        font-size: 8px;
        font-weight: 400;
        padding-bottom: 5px;
      }
      .vline {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-bottom: 10px;
        border: 1px solid #f3f3f3;
        width: 0px;
      }

      .level {
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        margin-right: auto;
      }

      .text {
        font-weight: 500;
        font-size: 10px;
        color: #404040;
        padding-top: 5px;
      }

      .info {
        display: flex;
        font-size: 10px;
        color: #376dc8;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;
        height: 10px;
      }

      .icon {
        font-size: 20px;
        color: #376dc8;
        margin-right: 10px;
      }
    }

    .select-cont {
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      padding-top: 14px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 14px;
      background: #f6f6f6 0% 0% no-repeat padding-box;
      .name {
        color: #161616;
        font-size: 12px;
        font-weight: 400;
        padding-bottom: 5px;
        p {
          padding: 0px;
          margin: 0px !important;
          margin-left: 5px !important;
          margin-right: 5px !important;
          color: #376dc8;
          font-weight: 700;
        }
      }
      .sub {
        color: #414141;
        font-size: 8px;
        font-weight: 400;
        padding-bottom: 5px;
      }
      .vline {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        margin-bottom: 10px;
        border: 1px solid #f3f3f3;
        width: 0px;
      }

      .level {
        color: #161616;
        font-size: 12px;
        font-weight: 600;
        text-align: left;
        margin-right: auto;
      }

      .text {
        font-weight: 500;
        font-size: 10px;
        color: #404040;
        padding-top: 5px;
      }

      .info {
        display: flex;
        font-size: 10px;
        color: #376dc8;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;
        height: 10px;
      }

      .icon {
        font-size: 20px;
        color: #376dc8;
        margin-right: 10px;
      }

      .w-video {
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
        font-size: 10px;
        color: #376dc8;
        padding-top: 5px;
      }
    }
  }
}

::ng-deep {
  td.mat-cell {
    font-size: 12px !important;
  }

  td.mat-cell:last-of-type {
    padding-right: 0px !important;
  }

  td.mat-cell:first-of-type {
    font-weight: 600 !important;
  }

  th.mat-header-cell:first-of-type {
    text-align: start !important;
    padding-left: 25px !important;
  }
}
