<div class="container-p">
  <div class="row">
    <div class="card-sec col-md-4 p-l-0 p-r-0">
      <div *ngFor="let item of dashboardCards; let i = index" 
        (click)="goToPage(item.url)" 
        class="cont const-dash dash-card cursor-pointer col-md-6 m-b">
        <app-dashboard-card
          title="{{item.name}}"
          value="{{item.value}}"
          src="{{item.src}}"
          lightText="{{item.lgText}}"
          classes="{{item.classes}}"
          iconClass="{{item.iconClass}}"
        ></app-dashboard-card>
      </div>
    </div>
    <div class="col-md-8 col-xs-12 p-r-0 p-l-0">
      <div class="cont">
        <div class="row">
          <div class="head">Practice Classification</div>
          <mat-select class="dropdown-menu paddedSelect m-l-a" value="team-name">
            <mat-option value="team-name">Team Name</mat-option>
          </mat-select>
          <mat-select class="dropdown-menu paddedSelect" value="date">
            <mat-option value="date">Date</mat-option>
          </mat-select>
        </div>
        <app-bar-chart
          [barChartData]="dashBarChartData"
          [barChartLabels]="dashBarChartLabels"
          [barChartOptions]="dashBarChartOptions"
          [barChartColors]="dashBarChartColors"
          [barChartLegend]="dashBarChartLegend"
          [gradient]="dashBarGradient"
          [barChartPlugins]="dashBarChartPlugins"
          height="210"
        ></app-bar-chart>
      </div>
    </div>
  </div>

  <div class="row ac">
    <div class="col-md-6 col-xs-12 p-l-0 p-r-0 m-t">
      <div class="cont avg-practice-hrs">
        <div class="row">
          <div>
            <div class="head">Average Practice Hours</div>
            <div class="sub-head p-t-0">Based on Coaches Practice Data</div>
          </div>
          <mat-select class="dropdown-menu paddedSelect m-l-a" value="monthly">
            <mat-option value="monthly">Monthly</mat-option>
          </mat-select>
        </div>
        <div class="line-chart-container">
          <app-line-chart
            [lineChartData]="dashLineChartData"
            [lineChartLabels]="dashLineChartLabels"
            [lineChartOptions]="dashLineChartOptions"
            [lineChartColors]="dashLineChartColors"
            [lineChartLegend]="dashLineChartLegend"
            [lineChartPlugins]="dashLineChartPlugins"
            [gradient]="dashLineGradient"
            height="35"
          >
          </app-line-chart>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-6 p-r-0 p-l-0 m-t">
      <div class="cont const-dash m-b">
        <div class="row">
          <div>
            <div class="head">Average Player Practice Duration per Day</div>
          </div>
        </div>
        <div class="row">
          <app-range-slider
            [minValue]="rangeMinValue"
            [maxValue]="rangeMaxValue"
            [rangeOptions]="rangeOptions"
          ></app-range-slider>
        </div>
      </div>
      <div class="cont const-dash">
        <div class="row">
          <div>
            <div class="head">Practice Classification (Player position)</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-xs-6">
            <app-donut-chart
              [doughnutChartData]="dashDoughnutChartData"
              [doughnutChartLabels]="dashDoughnutChartLabels"
              [doughnutChartOptions]="dashDoughnutChartOptions"
              [doughnutChartColors]="dashDoughnutChartColors"
              [doughnutChartLegend]="dashDoughnutChartLegend"
              [doughnutChartPlugins]="dashDoughnutChartPlugins"
              height="90"
            ></app-donut-chart>
          </div>
          <div class="col-md-5 col-xs-6 legend">
            <div class="name">
              <div class="leg legend-label1"></div>
              Player Position
            </div>
            <div class="name">
              <div class="leg legend-label2"></div>
              Player Position
            </div>
            <div class="name">
              <div class="leg legend-label3"></div>
              Player Position
            </div>
            <div class="name">
              <div class="leg legend-label4"></div>
              Player Position
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12 p-r-0 p-l-0 m-t">
      <div class="cont const-dash practice-load">
        <div class="head">Players with High Practice Load</div>
        <div class="row">
          <div class="players-list col-md-12 col-xs-12">
            <div *ngFor="let practiceLoad of playersPracticeLoad" class="notfilled select-cont">
              <div class="row sec">
                <span class="name">{{ practiceLoad.name }}</span>
                <span class="position">{{ practiceLoad.position }}</span>
                <span class="time">{{ practiceLoad.time }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
