.container-p {
  margin: 30px !important;
  margin-top: 64px !important;

  .launch-button {
    margin-left: auto;
    background-color: #376dc8;
    height: 34px;
    margin-bottom: 30px;
    padding: 0px 20px;
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 4px;
    margin-top: 20px;
    .text {
      color: white;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .button-group {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #323336;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    padding: 0px 5px !important;
  }

  .active-button {
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    padding: 0px 5px !important;
  }

  .menu-cont {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    width: 90%;
    height: 40px;
    .input-select {
      width: 150px;
      height: 33px;
      font-family: 'Montserrat' !important;
      font-size: 13px;
      padding-left: 10px;
      border: 1px solid rgb(221, 219, 218);
      border-radius: 1px;
      padding-top: 5px;
    }
    .vline {
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #e6e6e6;
    }
    .active-option-text {
      background: #e4ebf7 0% 0% no-repeat padding-box;
      border-radius: 3px;
      font-weight: 600;
      height: 22px;
      margin-top: auto;
      margin-bottom: auto;
    }
    .option-text {
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 7px;
      padding-right: 7px;
    }
    .add-option {
      background: #e4ebf7 0% 0% no-repeat padding-box;
      border: 1px dashed #376dc8;
      border-radius: 3px;
      color: #376dc8;
      font-family: 'Montserrat';
      margin: 5px;
      margin-left: 50px;
    }
  }

  .filter {
    margin-top: 10px;
    margin-bottom: 15px !important;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    background: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
  }

  .search {
    margin-top: 10px;
    height: 28px;
    width: 220px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 0.5px solid #ffffff;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 30px;
    font-weight: 400px;
  }

  .search-icon-bar {
    margin-top: 10px;
    background: #eaeaea 0% 0% no-repeat padding-box;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
  }
  .search-icon {
    padding: 5px 8px;
    color: #adadad;
  }

  .performace-analyser {
    background-color: white;
    height: 100%;
    .heading {
      font-size: 16px;
      font-weight: 600;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 10px;
    }

    .graph {
      width: 80%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .tableclass {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;

    .table-header {
      background: #eceef2 0% 0% no-repeat padding-box;
      border-radius: 5px 5px 0px 0px;
      height: 32px;
    }

    .table-head {
      color: #393939;
      font-size: 13px;
      font-weight: 500;
      text-align: center;
    }

    .tablecontent {
      color: #393939;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
    }

    .mat-row:nth-child(odd) {
      background: #fcfcfc 0% 0% no-repeat padding-box;
    }

    .mat-row:nth-child(even) {
      background: #eceef2 0% 0% no-repeat padding-box;
    }

    .name_link {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-align: left !important;
      color: #0042b1;
    }
  }
}

::ng-deep.mat-tab-label.mat-tab-label-active {
  opacity: 1;
  background: #376dc8 0% 0% no-repeat padding-box;
  color: #ffffff;
}

::ng-deep.mat-ink-bar {
  display: none !important;
}
