.container-p {
  margin: 30px;
  margin-top: 64px;

  .launch-button {
    margin-left: auto;
    // margin-right: 10px;
    background-color: #376dc8;
    height: 34px;
    margin-bottom: 30px;
    padding: 0px 20px;
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 4px;
    margin-top: 20px;
    .text {
      color: white;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 6px;
    min-height: 300px;
    padding-top: 10px;
  }

  .vline {
    position: absolute;
    border: 0.5px solid #f1f4f8;
    width: 0px;
  }

  .hline {
    border: 1px solid #e6e6e6;
    width: 100%;
    margin-bottom: 10px;
  }

  .player-trade {
    padding-left: 10px;
    padding-right: 10px;
    .p-name {
      text-align: left;

      font-size: 12px;
      font-weight: 600;
      color: #0f0f0f;
    }
    .p-role {
      text-align: left;

      font-size: 10px;
      font-weight: 500;
      color: #393939;
    }
    .p-type {
      text-align: left;

      font-size: 10px;
      font-weight: 400;
      color: #adadad;
    }
    .p-head {
      text-align: center;

      font-size: 12px;
      font-weight: 600;
      color: #0f0f0f;
      padding-right: 20px;
      padding-top: 5px;
    }

    .price {
      display: flex;
      text-align: center;
      justify-content: center;
      align-content: center;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .deal-price {
      background: #e6eafc 0% 0% no-repeat padding-box;
      border-radius: 4px;
      padding: 5px;

      font-size: 14px;
      font-weight: 500;
    }
  }

  .input-r {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 10px;
    width: 120px;
    height: 15px;
    font-family: 'Montserrat' !important;
    font-size: 11px;
    padding-left: 10px;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 1px;
  }

  .head {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 15px;
  }

  .sub-head {
    color: #adadad;
    font-size: 12px;
    font-weight: 600;
    padding-top: 5px;
  }

  .card-head {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    padding-top: 25px;
  }

  .card-sub {
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 25px;
  }

  .card-a {
    background: #376dc8 0% 0% no-repeat padding-box;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 90%;
  }

  .card-b {
    background: #1350e6 0% 0% no-repeat padding-box;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 90%;
  }

  .card-c {
    background: #f89751 0% 0% no-repeat padding-box;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    width: 90%;
  }

  .details {
    margin-left: 20px;
    margin-top: 30px;
    .trade-count {
      color: #376dc8;
      font-size: 20px;
      font-weight: 600;
      padding-top: 5px;
    }
  }

  .legend {
    margin-top: 20px;
    width: 150px;
    .value {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 5px;
      font-size: 18px;
      font-weight: 600;
      color: #313131;
    }
    .name {
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 12px;
      font-weight: 500;
      color: #313131;
      .leg {
        height: 8px;
        width: 6px;
        margin-right: 5px;
        border-radius: 4px;
      }
    }
  }

  .table-cont {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
  }

  .tableclass {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }

  .table-header {
    background: #eceef2 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
  }

  .table-head {
    color: #393939;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    height: 15px;
  }

  .tablecontent {
    color: #393939;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    height: 15px;
    padding: 0px;
  }

  .mat-row:nth-child(odd) {
    background: #fcfcfc 0% 0% no-repeat padding-box;
  }

  .mat-row:nth-child(even) {
    background: #eceef2 0% 0% no-repeat padding-box;
  }

  .expand {
    cursor: pointer;
    padding-top: 10px;
    margin-left: auto;
    color: #376dc8;
    font-size: 12px;
    text-decoration: underline;
    .icons {
      font-size: 12px;
    }
  }
  .button-success {
    background: #dafddf 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #00a119;
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    height: 32px;
  }

  .button-failure {
    background: #ffe4e0 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #a11300;
    font-size: 12px;
    font-weight: 500;
    width: 120px;
    height: 32px;
  }
}
