<div class="container-p">
  <div class="row">
    <div class="bread-path">
      <a (click)="goToPage('roaster')" class="link">Roaster Builder</a>
      <mat-icon>arrow_forward</mat-icon>
      <a (click)="goToPage('roaster/trade')" class="link">Trade Machine</a>
      <mat-icon>arrow_forward</mat-icon>
      <a (click)="goToPage('roaster/trade/team-selection')" class="link">Select Teams</a>
      <mat-icon>arrow_forward</mat-icon>
      Select Players
    </div>
    <button mat-button class="configure-button" (click)="openConfigure()">
      <div class="text">Configure</div>
    </button>
    <button mat-button class="launch-button" (click)="goToPage('roaster/trade/trade-overview')">
      <div class="text">Next</div>
    </button>
  </div>
  <div class="note m-b">Select Players who want to be the part of the trade</div>

  <div>
    <div class="cont" style="display: flex">
      <div class="mav-team">
        <div class="team-name">
          <div class="name">Mavericks</div>
        </div>
        <input mat-input class="filter-input" type="text" placeholder="Search Players" />

        <div *ngFor="let player of players" class="player-details">
          <div class="row m-a-0 p-l">
            <div class="t">
              <div class="name">Player Name</div>

              <div class="details">Age, Weight</div>

              <div class="contract">Contract Type</div>
            </div>

            <div class="t p-l p-t">
              <div class="price">$5.1M</div>
              <div class="duration">2 years</div>
            </div>
            <!-- <select class="input-r"> 
              <option style="background-image:url(assets/images/header/profile.png);">male</option>
              <option style="background-image:url(assets/images/header/profile.png);">female</option>
              <option style="background-image:url(assets/images/header/profile.png);">others</option>
            </select>  -->
            <mat-select class="input-r">
              <mat-option>sdasd</mat-option>
            </mat-select>
            <!-- <div class="select-container">
              <input type="text" />
              <ul class="select-menu box" role="listbox">   
                <li role="option"
                  *ngFor="let option of players; let i = index;" 
                  class="option-item"
                >
                    <span> {{option}}</span>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
      <div *ngFor="let team of teams" class="team">
        <div class="team-name">
          <div class="name">Mavericks</div>
        </div>
        <input mat-input class="filter-input" type="text" placeholder="Search Players" />

        <div *ngFor="let player of players" class="player-details">
          <div class="row m-a-0 p-l">
            <div class="t">
              <div class="name">Player Name</div>

              <div class="details">Age, Weight</div>

              <div class="contract">Contract Type</div>
            </div>

            <div class="t p-l p-t">
              <div class="price">$5.1M</div>
              <div class="duration">2 years</div>
            </div>
            <mat-select class="input-r" value="s">
              <mat-option value="s">
                <img class="user-image" src="assets/images/header/profile.png" />
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <div class="add-team">
        <mat-icon class="add-icon">add</mat-icon>
        Add Team
      </div>
    </div>
  </div>
</div>
