<div class="container-p">
  <div class="row">
    <div>
      <div class="bread-path">
        <a (click)="goToPage('roaster')" class="link">Roaster Builder</a>
        <mat-icon>arrow_forward</mat-icon>
        <a (click)="goToPage('roaster/trade')" class="link">Trade Machine</a>
        <mat-icon>arrow_forward</mat-icon>
        <a (click)="goToPage('roaster/trade/team-selection')" class="link">Select Teams</a>
        <mat-icon>arrow_forward</mat-icon>
        Select Players
      </div>
      <div class="note m-b">Select Players who want to be the part of the trade</div>
    </div>

    <button mat-button class="configure-button" (click)="openConfigure()">
      <div class="text">Configure</div>
    </button>
    <button mat-button class="launch-button" (click)="goToPage('roaster/trade/trade-overview')">
      <div class="text">Next</div>
    </button>
  </div>

  <div>
    <div class="cont" style="display: flex">
      <div *ngFor="let team of teams" [ngClass]="[team.id == 'maverick' ? 'mav-team' : 'team']">
        <div class="team-name">
          <div class="name">Mavericks</div>
        </div>
        <div class="filter">
          <input mat-input class="filter-input" type="text" placeholder="Search Players" />
          <mat-icon>tune</mat-icon>
        </div>
        <div *ngIf="tradedPlayers[team.id].length != 0" class="traded">
          Traded Players
          <div *ngFor="let player of tradedPlayers[team.id]; let i = index">
            <div class="traded-from">
              <div class="text">Traded from</div>

              <img class="logo" src="assets/images/teams/{{ logo[player.teamid] }}" />
            </div>
            <div class="player-details">
              <div class="row m-a-0">
                <div class="t">
                  <div class="name">{{ player.id }}</div>

                  <div class="details">Age, Weight</div>

                  <div class="contract">Contract Type</div>
                </div>

                <div class="t p-l p-t">
                  <div class="price">$5.1M</div>
                  <div class="duration">2 years</div>
                </div>
                <div class="hline" style="height: 30px; margin-left: auto"></div>
                <div class="dropdown-select">
                  <img class="selected" src="assets/images/teams/{{ logo[player.currentteam] }}" />
                  <mat-icon
                    class="dropdown"
                    *ngIf="!options[team.id][player.id]"
                    (click)="showOptions(team.id, player.id, true)"
                    >keyboard_arrow_down</mat-icon
                  >
                  <mat-icon
                    class="dropdown"
                    *ngIf="options[team.id][player.id]"
                    (click)="showOptions(team.id, player.id, false)"
                    >keyboard_arrow_up</mat-icon
                  >
                </div>
                <div class="custom-select-wrapper" *ngIf="options[team.id][player.id]">
                  <div class="custom-options">
                    <span
                      class="custom-option"
                      (click)="teamChange(option.id, i, player, true)"
                      [ngClass]="[option.id == player.currentteam ? 'selected' : '']"
                      *ngFor="let option of teams"
                    >
                      <img class="option-image" src="assets/images/teams/{{ logo[option.id] }}" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngFor="let player of players[team.id]; let i = index">
          <div class="player-details" *ngIf="!tradedIds.includes(player.id)">
            <div class="row m-a-0">
              <div class="t">
                <div class="name">{{ player.id }}</div>

                <div class="details">Age, Weight</div>

                <div class="contract">Contract Type</div>
              </div>

              <div class="t p-l p-t">
                <div class="price">$5.1M</div>
                <div class="duration">2 years</div>
              </div>
              <div class="hline" style="height: 30px; margin-left: auto"></div>
              <div class="dropdown-select">
                <img class="selected" src="assets/images/teams/{{ logo[player.currentteam] }}" />
                <mat-icon
                  class="dropdown"
                  *ngIf="!options[team.id][player.id]"
                  (click)="showOptions(team.id, player.id, true)"
                  >keyboard_arrow_down</mat-icon
                >
                <mat-icon
                  class="dropdown"
                  *ngIf="options[team.id][player.id]"
                  (click)="showOptions(team.id, player.id, false)"
                  >keyboard_arrow_up</mat-icon
                >
              </div>
              <div class="custom-select-wrapper" *ngIf="options[team.id][player.id]">
                <div class="custom-options">
                  <span
                    class="custom-option"
                    (click)="teamChange(option.id, i, player, false)"
                    [ngClass]="[option.id == player.currentteam ? 'selected' : '']"
                    *ngFor="let option of teams"
                  >
                    <img class="option-image" src="assets/images/teams/{{ logo[option.id] }}" />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-team">
        <mat-icon class="add-icon">add</mat-icon>
        Add Team
      </div>
    </div>
  </div>
</div>
