.container-p {
  margin: 30px;
  margin-top: 64px;

  .launch-button {
    margin-left: auto;
    margin-right: 10px;
    background-color: #376dc8;
    height: 34px;
    margin-bottom: 30px;
    padding: 0px 20px;
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 4px;
    margin-top: 20px;
    .text {
      color: white;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .configure-button {
    margin-left: auto;
    margin-right: 10px;
    background-color: #dafddf;
    height: 34px;
    // margin-bottom: 30px;
    padding: 0px 20px;
    background: #dafddf 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 4px;
    margin-top: 20px;
    .text {
      color: #393939;
      font-weight: 600;
      font-size: 14px;
    }
  }

  .note {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #686868;
    margin-top: -25px;
  }

  .vline {
    position: absolute;
    border: 0.5px solid #f1f4f8;
    width: 0px;
  }

  .cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    width: fit-content;
    padding-right: 40px;
    .mav-team {
      background: #f4f4f4 0% 0% no-repeat padding-box;
      border: 1px solid #d0d0d0;
      border-radius: 10px 0px 0px 10px;
      width: 260px;
      margin-right: 20px;
      padding-bottom: 10px;
    }

    .team {
      background: #e4ebf7 0% 0% no-repeat padding-box;
      width: 260px;
      margin-right: 20px;
      padding-bottom: 10px;
    }

    .team-name {
      background: #376dc8 0% 0% no-repeat padding-box;
      height: 40px;
      .name {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        padding-top: 10px;
      }
    }

    .filter {
      display: flex;
      background: #f4f4f4 0% 0% no-repeat padding-box;
      border: 1px solid #d0d0d0;
      .filter-input {
        height: 28px;
        width: 245px;
        background: #f4f4f4 0% 0% no-repeat padding-box;
        border: 0px solid #d0d0d0;
        font-weight: 400;
        padding-left: 10px;
        font-family: 'Montserrat';
        margin-right: -28px;
        padding-right: 35px;
      }
      mat-icon {
        padding-top: 5px;
        cursor: pointer;
        padding-right: 5px;
        width: 25px;
      }
    }

    .traded {
      background: #dafddf 0% 0% no-repeat padding-box !important;
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 12px;
      padding-left: 10px;
      font-weight: 600;
      .traded-from {
        display: flex;
        align-items: center;
        padding-top: 5px;
        .text {
          font-size: 12px;
          margin-left: auto;
          margin-right: 5px;
          font-weight: 400;
        }
      }
      .logo {
        width: 26px;
        height: 26px;
        margin-right: 10px;
      }
    }

    .player-details {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 5px;
      padding: 5px;

      .name {
        padding-top: 5px;
        font-size: 11px;
        font-weight: 600;
        color: #393939;
      }

      .details {
        padding-top: 5px;
        font-size: 10px;
        font-weight: 400;
        color: #393939;
      }

      .contract {
        padding-top: 3px;
        font-size: 10px;
        font-weight: 400;
        color: #393939;
      }

      .price {
        font-size: 10px;
        font-weight: 600;
        color: #404040;
      }

      .duration {
        padding-top: 3px;
        font-size: 10px;
        font-weight: 400;
        color: #393939;
      }
    }

    .add-team {
      background: #e4ebf7 0% 0% no-repeat padding-box;
      border: 1px dashed #707070;
      border-radius: 4px;
      padding: 10px;
      margin-top: auto;
      margin-bottom: auto;
      color: #376dc8;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      margin-left: 25px;

      .add-icon {
        display: flex;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .t {
      font-size: 10px;
    }

    .hline {
      display: flex;
      border: 1px solid #e1e1e1;
      margin-top: 13px;
    }

    .dropdown-select {
      display: flex;
      margin-left: auto;
      margin-right: 5px;
      margin-top: auto;
      margin-bottom: auto;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 0.5px solid #e0e0e0;
      border-radius: 4px;

      .selected {
        width: 28px;
        padding: 5px;
      }

      .dropdown {
        font-size: 32px;
        font-weight: 500;
        padding-right: 10px;
        cursor: pointer;
      }
    }
  }

  .custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    .custom-options {
      position: absolute;
      top: 100%;
      height: 90px;
      overflow: scroll;
      right: 0;
      border-top: 0;
      background: #e1e1e1;
      transition: all 0.5s;
      opacity: 1;
      pointer-events: all;
      z-index: 2;
      width: 60px;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 5px 0 5px;
      line-height: 12px;
      cursor: pointer;
      transition: all 0.5s;
      .option-image {
        display: flex;
        width: 32px;
        height: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .custom-option:hover {
      cursor: pointer;
      background-color: #b2b2b2;
    }
    .custom-option.selected {
      color: #ffffff;
      background-color: #376dc8;
    }
  }
}
