.container-p {
  margin: 30px;
  margin-top: 64px;

  .row {
    margin: 0 !important;
  }
  .arrow-icon {
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    min-height: 300px;
  }

  .user-image {
    width: 99px;
    height: 99px;
  }

  .hline {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 0px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
  }

  .playername {
    margin-left: auto;
    margin-right: 90px;
    padding-top: 15px;
    .first-name {
      color: #a9a9a9;
      font-size: 14px;
      font-weight: 300;
    }
    .last-name {
      padding-top: 10px;
      color: #1b1b1b;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .headkey {
    padding-bottom: 10px;
    width: 120px;

    color: #676767;
    font-size: 12px;
    margin-left: 30px;
  }

  .headvalue {
    color: #242424;
    font-size: 13px;
    font-weight: 500;
  }

  .season-performace {
    background: #fdfdfd 0% 0% no-repeat padding-box;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    // min-height: 200px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .recent-performace {
    background: #fafafa 0% 0% no-repeat padding-box;
    border-radius: 4px;
    min-height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    .heading {
      font-size: 14px;

      font-weight: 500;
      padding-top: 10px;
      color: #242424;
    }
  }

  .tableclass {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }

  .table-season {
    background: #fdfdfd 0% 0% no-repeat padding-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .table-header {
    background: #eceef2 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;
  }

  .table-head {
    color: #393939;

    font-size: 13px;
    font-weight: 500;
    text-align: left;
  }

  .tablecontent {
    color: #393939;

    font-size: 13px;
    font-weight: 400;
    text-align: left;
    padding: 5px;
  }

  .mat-row:nth-child(odd) {
    background: #fcfcfc 0% 0% no-repeat padding-box;
  }

  .mat-row:nth-child(even) {
    background: #eceef2 0% 0% no-repeat padding-box;
  }

  .graph-container {
    background: #f7f7f7 0% 0% no-repeat padding-box;
    border-radius: 8px 6px 2px 2px;
    min-height: 200px;
    margin-bottom: 15px;
    .heading {
      font-size: 13px;

      font-weight: 600;
      padding-top: 10px;
      padding-left: 20px;
    }

    .graph {
      margin-left: 20px;
      width: 80%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.navigate-calendar {
  background-color: #81a7e9;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.head {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.practice {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  padding-left: 10px;
  .head-text {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .practice-date {
    padding-top: 10x;
    padding-bottom: 10px;
    font-size: 12px;
    color: #272727;
    font-weight: 600;
  }

  .practice-text {
    font-size: 10px;
    color: #676767;
    font-weight: 500;
  }

  .practice-tag {
    background: #e6eafc 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font-size: 12px;
    color: #676767;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.calendar {
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-left: 30%;
}

.icon {
  color: white;
  font-size: 32px;
}

.fieldbox {
  margin-left: auto;
  width: 98%;
  height: 32px;
  border: 1px solid rgb(221, 219, 218);
  border-radius: 1px;
  border-radius: 4px;
}

.fieldvalue {
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(8, 7, 7);
  font-size: 13px;
  font-weight: 400;
  padding-right: 10px;
}

.d3-chart {
  width: 100px;
  height: 100px;
}
