.container-p {
  margin: 30px;
  margin-top: 64px;

  .dashboard-icon {
    margin-left: auto;
    margin-right: 20px;
    color: #376dc8;
    margin-top: 20px;
    font-size: 32px;
  }

  .drill-button {
    background: #f2f4f8 0% 0% no-repeat padding-box;
    border: 1px solid #376cc8;
    border-radius: 6px;
    margin-top: 18px;
    margin-right: 15px;
    height: 34px;
    padding: 0px 20px;
    .text {
      color: #376dc8;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .practice-button {
    background: #376dc8 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    border-radius: 6px;
    margin-top: 18px;
    height: 34px;
    padding: 0px 20px;
    .text {
      color: #ffffff;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .hline {
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    width: 100%;
  }

  .cont {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 80px #00000011;
    border-radius: 5px;
    min-height: 100px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    .head {
      margin-left: 10px;
      padding-top: 15px;
      font-size: 13px;
      font-weight: 600;
    }
    .sub-head {
      color: #8d8d8d;
      font-size: 10px;
      font-weight: 400;
      padding-top: 5px;
      margin-left: 10px;
      padding-bottom: 10px;
    }
    .dropdown-menu {
      margin-top: 10px;
      margin-left: auto;
      margin-right: 15px;
      width: 120px;
      height: 25px;
      font-family: 'Montserrat' !important;
      font-size: 11px;
      padding-left: 10px;
      border: 1px solid rgb(221, 219, 218);
      border-radius: 1px;
    }
    .legend {
      padding-top: 10px;
      padding-left: 20px;
      .value {
        margin-left: auto;
        margin-right: 10px;
        font-size: 13px;
        font-weight: 600;
        color: #313131;
      }
      .leg {
        margin-top: 3px;
        height: 8px;
        width: 6px;
        margin-right: 5px;
        border-radius: 4px;
      }
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #313131;
      }
    }
    .vline {
      position: absolute;
      height: 100px;
      margin-bottom: 10px;
      border: 1px solid #f3f3f3;
      width: 0px;
    }
    .practice-button {
      background: #376dc8 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 10px #00000029;
      border-radius: 6px;
      margin-top: 5px;
      height: 34px;
      padding: 0px 15px;
      margin-left: auto;
      .text {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .table-cont {
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 20px;
      .tableclass {
        margin-top: 10px;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 20px 80px #e2e2e211;
      }

      .table-header {
        background: #eceef2 0% 0% no-repeat padding-box;
        border-radius: 5px 5px 0px 0px;
      }

      .table-head {
        color: #393939;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
      }

      .tablecontent {
        color: #393939;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        height: 15px;
        padding: 0px;
      }
    }
  }

  .cont-head {
    font-size: 13px;
    margin-top: 20px;
    margin-left: 10px;
    color: #404040;
    font-weight: 600;
  }
}
