<div class="container-p">
  <div class="row">
    <div class="bread-path">Practice Plans</div>
    <mat-icon class="dashboard-icon">dashboard</mat-icon>
    <button mat-button class="drill-button">
      <div class="text">Create Drill</div>
    </button>
    <button mat-button class="practice-button" (click)="goToPage('practice-plans/create')">
      <div class="text">Create Practice</div>
    </button>
  </div>

  <div class="row">
    <div class="col-md-7 col-xs-12 p-l-0 p-r-0">
      <div class="cont">
        <div class="row">
          <div>
            <div class="head">Average Practice Hours</div>
            <div class="sub-head">Based on Coaches Practice Data</div>
          </div>
          <mat-select class="dropdown-menu paddedSelect" value="last_6_season">
            <mat-option value="last_6_season">Last 6 Seasons</mat-option>
            <mat-option value="last_3_season">Last 3 Seasons</mat-option>
            <mat-option value="last_1_season">Last 1 Seasons</mat-option>
          </mat-select>
        </div>
        <app-line-chart
          [lineChartData]="lineChartData"
          [lineChartLabels]="lineChartLabels"
          [lineChartOptions]="lineChartOptions"
          [lineChartColors]="lineChartColors"
          [lineChartLegend]="lineChartLegend"
          [lineChartPlugins]="lineChartPlugins"
          [gradient]="lineGradient"
          height="30"
        >
        </app-line-chart>
      </div>
    </div>
    <div class="col-md-5 col-xs-12 p-r-0 p-l-0">
      <div class="cont">
        <div class="row">
          <div class="head">Practice Plans</div>
        </div>
        <div class="hline"></div>
        <app-calendar
          navigation="current"
          size="small"
          [view]="view"
          [selectedView]="selectedView"
          [viewDate]="viewDate"
          [events]="events"
          startTime="0"
          endTime="23"
        ></app-calendar>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-xs-12 p-l-0 p-r-0">
      <div class="cont-head">Drill Category Split</div>
      <div class="cont">
        <div class="row">
          <div class="col-md-5 col-xs-5 p-t p-b">
            <app-donut-chart
              [doughnutChartData]="doughnutChartData"
              [doughnutChartLabels]="doughnutChartLabels"
              [doughnutChartOptions]="doughnutChartOptions"
              [doughnutChartColors]="doughnutChartColors"
              [doughnutChartLegend]="doughnutChartLegend"
              [doughnutChartPlugins]="doughnutChartPlugins"
              height="60"
            ></app-donut-chart>
            <div class="row legend" *ngFor="let legend of legends">
              <div class="leg" [style]="'background-color:' + legend.color"></div>
              <div class="name">{{ legend.name }}</div>
              <div class="value">{{ legend.value }}</div>
            </div>
            <div class="vline"></div>
          </div>
          <div class="col-md-7 col-xs-7">
            <div class="row p-t">
              <div class="head">Most Common Drills</div>
              <button mat-button class="practice-button" (click)="goToPage('practice-plans/create')">
                <div class="text">Create Practice</div>
              </button>
            </div>
            <div class="table-cont">
              <table mat-table class="tableclass" [dataSource]="tradeData">
                <ng-container matColumnDef="drill_name">
                  <th mat-header-cell *matHeaderCellDef class="table-head">Drill Name</th>
                  <td mat-cell class="tablecontent" *matCellDef="let element">
                    {{ element.drill_name }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef class="table-head">Category</th>
                  <td mat-cell class="tablecontent" *matCellDef="let element">
                    {{ element.category }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="total_hours">
                  <th mat-header-cell *matHeaderCellDef class="table-head">Total Hours</th>
                  <td mat-cell class="tablecontent" *matCellDef="let element">
                    {{ element.total_hours }}
                  </td>
                </ng-container>
                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-xs-12 p-r-0 p-l-0">
      <div class="cont-head">Players with High Practice load</div>

      <div class="cont p-a">
        <app-progress-chart [data]="players"></app-progress-chart>
      </div>
    </div>
  </div>
</div>
