.container-p {
    margin: 30px;
    margin-top: 64px;

    .launch-button{
        margin-left: 20px;
        // margin-right: 10px;
        background-color: #376DC8;
        height: 34px;
        margin-bottom: 30px;
        padding: 0px 20px;
        background: #376DC8 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 10px #00000029;
        border-radius: 4px;
        margin-top: 20px;
        .text{
          color: white;
          font-weight: 600;
          font-size: 14px;
          font-family: 'Montserrat';
        }
    }

    .configure-button{
        margin-left: auto;
        // margin-right: 10px;
        background-color: #DAFDDF;
        height: 34px;
        margin-bottom: 30px;
        padding: 0px 20px;
        background: #DAFDDF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 10px #00000029;
        border-radius: 4px;
        margin-top: 20px;
        .text{
          color: #393939;
          font-weight: 600;
          font-size: 14px;
          font-family: 'Montserrat';
        }
    }

    .note{
        text-align: left;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight:500;
        color: #686868;
        padding-top: 10px;
    }

    .cont{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        width: fit-content;
        padding-right: 40px;
        .mav-team{
            background: #F4F4F4 0% 0% no-repeat padding-box;
            border: 1px solid #D0D0D0;
            border-radius: 10px 0px 0px 10px;
            // height: 300px;
            width: 250px;
            margin-right: 20px;
        }

        .team{
            background: #E4EBF7 0% 0% no-repeat padding-box;
            // height: 300px;
            width: 250px;
            margin-right: 20px;
        }

        .team-name{
            background: #376DC8 0% 0% no-repeat padding-box;
            height: 40px;
            .name{
                text-align: center;
                font-family: 'Montserrat';
                font-size: 14px;
                font-weight: 600;
                color: #ffffff;
                padding-top: 10px;
            }
        }

        .filter-input{
            height: 28px;
            width: 245px;
            background: #F4F4F4 0% 0% no-repeat padding-box;
            border: 1px solid #D0D0D0;
            // padding-right: 30px;
            font-family: 'Montserrat';
            font-weight: 400;
        }

        .player-details{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #E6E6E6;
            border-radius: 4px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
        }

        .add-team{
            background: #E4EBF7 0% 0% no-repeat padding-box;
            border: 1px dashed #707070;
            border-radius: 4px;
            padding: 10px;
            margin-top: auto;
            margin-bottom: auto;
            color: #376DC8;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
            margin-left: 25px;

            .add-icon{
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .t{
            font-family: 'Montserrat';
            font-size: 10px;
        }

        .input-r{
            margin-top: 10px;
            width: 20px;
            height: 15px;
            font-family: 'Montserrat' !important;
            font-size: 11px;
            padding-left: 10px;
            border: 1px solid rgb(221, 219, 218);
            border-radius: 1px;
        }
    
    }

}